<h1>Presentations#new</h1>
<p>ユーザーがプレゼンに使うスライドと声を登録する画面</p>
<%= form_for Presentation.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
<p>Find me in app/views/presentations/new.html.erb</p>
